* {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI Adjusted", "Segoe UI", "Liberation Sans", sans-serif;
}

/*imge*/
.material img {
	width: 15px;
}
/* flex*/
.dFlex{
	display:flex;
}
/*cursor pointer*/
.pointer{
	cursor: pointer;
}
/* header */
.header {
	background-color: #f8f9f9;
	align-items: center;
	border-bottom: 2px solid #e7e7e7;
	border-top: 3px solid #f48225;
	padding: 5px 0px 6px 9px;
	position: fixed;
	width: 100%;
	z-index: 1;
}

.headerLeft img {
	width: 148px;
	margin-left: 43px;
}

.headerLeft :hover {
	background-color: rgba(97, 97, 97, 0.2);
}

.headerMiddle {
	margin-left: 24px;
	width: 52%;
	padding: 5px;
    	border: solid 1px #babfc4;
}

.headerMiddle input {
	flex: 1px;
	border: none;
}


.pointer span {
	margin-left: 22px;
	color: gray;
	align-items: center;
	padding: 1px;
	font-size:13px;
}

.pointer span:hover {

	background-color: #969a9e44;
	border-radius: 10px;
	align-items: center;
}

.log{
 	margin:0px 0px 0px 17px;
}

.log button {
	font-size: 13px;
	padding: 8px;
	cursor: pointer;
	width: 59px;
	color: #399bd2;
	background-color: #e1ecf4;
	border: solid 1px #7aa7c7;
	border-radius: 5px;
}

.sign button {
	font-size: 15px;
	width: 68px;
	color: #ffffff;
	background-color: #0a95ff;
	padding: 7px;
	border:none;
	cursor: pointer;
	border-radius: 5px;
}

.sign button:hover {
	background-color: #2060df;
}

.log button:hover {
	background-color: #2060df22;
}

/*main body*/
.mainBody {
	padding-top:52px;
}

/*side bar*/
.sideBar {
	position:sticky;
	height: 600px;
	top:54px;
	overflow-y: scroll;
}

.sideBarOption {
	align-items: center;
	padding: 10px;
	margin-top: 0px;
	cursor: pointer;
	font-size:13px;
	margin-left: 40px;
	color: #818181;
}

.sideBarOption1 {
	margin-left: 40px;
	font-size:11px;
	align-items: center;
	padding: 10px;
	color: #818181;

}

.sideBarOption2 {
	align-items: center;
	padding: 1px;
	margin-left: 70px;
	color: #818181;
	cursor: pointer;
}

.sideBarOption3 {
	margin:20px 1px 10px 63px;
	color: black;
	padding: 10px;
	font-size:13px;
	font-weight:700;
	background-color: #81818122;
	width: 100px;
	border-right: 5px solid orange;
	align-items: center;

}

.sideBarOption4 {
	align-items: center;
	padding: 0 10px;
	margin-left: 40px;
	color: #818181;
	cursor: pointer;
}

.sideBarOption4 span {
	margin-left: 5px;
	font-size: 15px;
}

.sideBarOption5 {
	align-items: center;
	padding: 0 10px;
	margin-left: 35px;
	color: #818181;
	cursor: pointer;
}

.sideBarOption5 .material {
	width: 20px;
}

.sideBarOption :hover {
	color: black;
}

.sideBarOption5 :hover {
	color: black;
}

.sideBarOption6 {
	align-items: center;
	padding: 10px;
	margin-top: 0px;
	cursor: pointer;
	background-color: orangered;
	color: white;
	border-radius: 5px;
	border-top: 2px solid white;
}


.card {
	width: 130px;
	background-color: white;
	border: 1px solid darkgray;
	margin-top: 0px;
	margin-left: 50px;
	font-size: small;
	border-right: transparent;

}

.cardBody {
	padding: 1px;
}

.card img {
	margin-left: 10px;
	width: 100px;
}


/* listsetting */

.profileHeading{
	justify-content: space-between;

}

.listSetting {
	border-bottom: 1px whitesmoke;
	background-color: white;
	padding: 8px;

}


.listSettingLeft img {
	width: 135px;
}

.listSettingLeft {
	box-shadow: 1px 0px 5px 1px rgb(220, 225, 228);
	width: 135px;
	margin: 14px 0px 0px 22px;
}

.name {
	margin-top: 15px;
	margin-left: 10px; 
	padding-right: 100px;
	font-weight: 400;
	font-size: 34px;

}

.cakeDesign {
	font-size: 12px;
	font-weight: 400;
	color: gray;
	padding-left: 5px;
	margin-right: 10px;
	margin-top: 8px;

}

.profileLeft {
	margin: 18px 62px 0px 0px;
}

.profileBorder {
	border: 1px solid #dde1dd;
	padding: 6px 9px;
	background-color: transparent;
	color: #6a737c;
}

.nameBodyOption {
	align-items: center;
	cursor: pointer;
	color: grey;
	margin-left: 9px;
	margin-top: 5px;
}

.localBodyOption {
	align-items: center;
	cursor: pointer;
	color: grey;
	margin-left: 4px;

}

.localBodyOption img {
	width: 16px;
	margin-top: 10px;
	margin-left: 5px;
}

.section {
	cursor: pointer;
}

.profile {
	margin-left: 24px;
	color: rgb(253, 250, 250);
	padding: 7px;
	border-radius: 30px;
	background-color: rgb(250, 124, 6);
	align-items: center;
	cursor: pointer;
	outline: none;
	border: none;

}

.profile h3 {
	font-size: small;
	font-weight: 400;

}

.profile:hover {
	font-weight: 300;
	color: rgb(247, 244, 244);
	border-radius: 30px;
	background-color: rgb(216, 109, 22);
	align-items: center;
	cursor: pointer;
	outline: none;
	border: none;
	box-shadow: 0px 2px 2px -2px;

}

.about {
	margin-left: 10px;
	color: gray;
	padding: 7px;
	border-radius: 30px;
	background-color: white;
	align-items: center;
	cursor: pointer;
	outline: none;
	border: none;

}

.about h3 {
	font-size: small;
	font-weight: 400;

}

.about:hover {
	margin-left: 10px;
	font-weight: 300;
	color: rgb(32, 31, 31);
	padding: 7px;
	border-radius: 30px;
	background-color: rgb(230, 225, 225);
	align-items: center;
	cursor: pointer;
	outline: none;
	border: none;
	box-shadow: 0px 2px 2px -2px;

}

.statsFirst {
	margin-top: 20px;
	margin-left: 24px;
	font-weight: 400;
	font-size:21px;
}

.statsMargin{
	    margin: 7px 0px 0px 22px;
}
.stats {
	border: 1px solid rgba(128, 128, 128, 0.2);
	border-radius: 5px;
	margin-bottom: 78px;
	width: 245px;
	padding: 0px 0px 20px 0px;

}

h2 {
	padding-top: 12px;
}

.numbers {
	align-items: center;
	padding: 2px 0px 1px 8px;
	margin-left: 10px;
	margin-top: 5px;
	font-size:17px;
}

.stats .material {
	margin-left: 10px;
}

.aboutUser {
	padding-left: 10px;
	margin-left: 15px;
}


.statText {
	
	padding: 3px 2px 4px 13px;
	margin-left: 10px;
	color: #818181;
	font-size: 13px;
}

.statText1 {
	padding: 0px 10px;
	cursor: pointer;
	margin-left: 10px;
	color: #818181;
	font-size: 13px;
}

.communities {
	margin: 30px 0px 0px 25px;
	font-size:21px;
	font-weight: 400;
}

.communities1 {
	margin-left: 40px;
	font-size: 16px;
	font-weight: 10;
	color: #818181;
}

.communities1 img {
	width: 11px;
}

.community img {
	width: 17px;
	margin-left: 10px;
}

.communityOption {
	font-weight: 10;
}

.space {
	padding-right: 40px;
}

.community {
	width: 250px;
	margin-right: 108px;
	border: 1px solid rgba(128, 128, 128, 0.2);
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 90px;
}

.communityOption {
	color: #0063bf;
	cursor: pointer
}

.collective {
	width: 200px;
	padding: 10px;
	cursor: pointer;
	margin-right: 10px;
	border: 1px solid rgba(128, 128, 128, 0.5);
	border-radius: 5px;
	margin-top: 10px;
}

.collect {
	font-size: 25px;
	font-weight: 20;
}

.collective img {
	width: 50px;
}

.google {
	margin-top: 2px;
	font-size: 20px;
	font-weight: 400;
}

.employee {
	font-size: 12px;
	font-weight: 400;
	margin-left: 2px;
}


.aboutSpace {
	margin: 110px;
}

.a:link {
	color: #0063bf;
	text-decoration: underline;
}

a:visited {
	color: #0063bf;
}


.aboutUser {}

.info {
	padding-top: 10px;
}

.info1 {
	padding-top: 10px;
	margin-top: 30px;
}

.li {
	padding-top: 10px;
}

.community {}

/*badages*/

.badgesView {

	margin-left: 545px;
	font-size: 13px;
	cursor: pointer;

}

.badges img {
	width: 50px;
	height: 50px;
	padding-left: 10px;
}

.dotGold {
	color: #ffd700;
	font-size: 18px;
}

.dotGold1 {
	color: #ffd700;
	font-size: 18px;
	margin-left: 10px;
}

.dotSilver {
	color: #c0c0c0;
	font-size: 18px;
}

.dotBronze {
	color: #d1a684;
	font-size: 18px;
}

.goldBorder {
	padding: 10px;
	border: 1px solid rgba(128, 128, 128, 0.2);
	margin-right: 30px;
	margin-bottom: 90px;
	width: max-content;
}

.goldItem {
	margin: 3px;
	border: 1px solid transparent;
	color: #737383;
	border-radius: 4px;
	cursor: pointer;
}

.goldItem:hover {
	color: black;
}

.badgeDetails {
	font-weight: 400;
	font-size: x-small;
}


.communitiesSpace {
	padding-right: 110px;
}


.badgespace {
	padding-right: 10px;
}

.badgeDetails {
	font-size: 15px;
}

.duty1 {
	font-size: 10px;
	margin-left: 70px;
}

.duty2 {
	font-size: 10px;
	margin-left: 30px;
}

.duty3 {
	font-size: 10px;
	margin-left: 100px;
}

.duty4 {
	font-size: 10px;
	margin-left: 95px;
}

.duty5 {
	font-size: 10px;
	margin-left: 30px;
}

.duty6 {
	font-size: 10px;
	margin-left: 60px;
}

.duty7 {
	font-size: 10px;
	margin-left: 50px;
}

.duty8 {
	font-size: 10px;
	margin-left: 75px;
}

.duty9 {
	font-size: 10px;
	margin-left: 70px;
}

.duty10 {
	font-size: 10px;
	margin-left: 40px;
}

.duty11 {
	font-size: 10px;
	margin-left: 55px;
}

.duty12 {
	font-size: 10px;
	margin-left: 50px;
}

.duty13 {
	font-size: 10px;
	margin-left: 43px;
}

.duty14 {
	font-size: 10px;
	margin-left: 80px;
}

/*badges ending*/
/*tags starting*/
.topTags {
	width: 800px;
	border: 1px solid rgb(221, 225, 221);
	margin-left: 300px;
	border-radius: 5px 5px 1px 1px;
	padding: 10px;
	align-items: center;
}

.topTagTitle {
	font-size: 20px;
	font-weight: 400;
	margin-left: 300px;
	margin-top: 20px;
}

.topTagView {
	font-size: 15px;
	font-weight: 100;
	margin-left: 640px;
	margin-top: 24px;
}

.topTagNumber1 {
	margin-top: 12px;
	margin-left: 485px;
	font-weight: 100;
}

.topTagScore1 {
	margin-top: 16px;
	margin-left: 3px;
	font-size: small;
	color: rgb(96, 95, 93);
	font-weight: 100;
}

.topTagNumber2 {
	margin-top: 12px;
	margin-left: 25px;
	font-weight: 100;
}

.topTagScore2 {
	margin-top: 16px;
	margin-left: 3px;
	font-size: small;
	color: rgb(96, 95, 93);
	font-weight: 100;
}


.topTagNumber3 {

	margin-top: 12px;
	margin-left: 12px;
	font-weight: 100;

}

.topTagscentre1 {
	margin-top: 16px;
	margin-left: 3px;
	font-size: small;
	color: rgb(96, 95, 93);
	font-weight: 100;

}

.topTagScore2 {

	margin-top: 16px;
	margin-left: 3px;
	font-size: small;
	color: rgb(96, 95, 93);
	font-weight: 100;

}

.topTags button {

	color: #2c5ca2;
	background-color: #e1ecf4;
	border: hidden;
	border-radius: 3px;
	cursor: pointer;
	padding: 4px 5px;
}

/*second*/
.topTags2 {
	width: 800px;
	border: 1px solid rgb(221, 225, 221);
	margin-left: 300px;
	padding: 10px;
	align-items: center;
}

.topTag2Number1 {
	margin-top: 12px;
	margin-left: 484px;
	font-weight: 100;
}

.topTags2 button {

	color: #2c5ca2;
	background-color: #e1ecf4;
	border: hidden;
	border-radius: 3px;
	cursor: pointer;
	padding: 4px 5px;

}

.topTag2Score1 {
	margin-top: 16px;
	margin-left: 3px;
	font-size: small;
	color: rgb(96, 95, 93);
	font-weight: 100;
}

.topTag2Number2 {
	margin-top: 12px;
	margin-left: 25px;
	font-weight: 100;
}

.topTag2Score2 {
	margin-top: 16px;
	margin-left: 3px;
	font-size: small;
	color: rgb(96, 95, 93);
	font-weight: 100;
}


.topTag2Number3 {

	margin-top: 12px;
	margin-left: 12px;
	font-weight: 100;
}

.topTags2centre1 {
	margin-top: 16px;
	margin-left: 3px;
	font-size: small;
	color: rgb(96, 95, 93);
	font-weight: 100;

}

.topTag2Score2 {

	margin-top: 16px;
	margin-left: 3px;
	font-size: small;
	color: rgb(96, 95, 93);
	font-weight: 100;

}

/*third*/
.topTags3 {
	width: 800px;
	border: 1px solid rgb(221, 225, 221);
	margin-left: 300px;
	padding: 10px;
	border-radius: 1px 1px 5px 5px;
	align-items: center;
}

.topTag3Number1 {
	margin-top: 12px;
	margin-left: 500px;
	font-weight: 100;
}

.topTags3 button {
	color: #2c5ca2;
	background-color: #e1ecf4;
	border: hidden;
	border-radius: 3px;
	cursor: pointer;
	padding: 4px 5px;
}

.topTag3Score1 {
	margin-top: 16px;
	margin-left: 3px;
	font-size: small;
	color: rgb(96, 95, 93);
	font-weight: 100;
}

.topTag3Number2 {
	margin-top: 12px;
	margin-left: 25px;
	font-weight: 100;
}

.topTag3Score2 {
	margin-top: 16px;
	margin-left: 3px;
	font-size: small;
	color: rgb(96, 95, 93);
	font-weight: 100;
}


.topTag3Number3 {

	margin-top: 12px;
	margin-left: 12px;
	font-weight: 100;

}

.topTags3centre1 {
	margin-top: 16px;
	margin-left: 3px;
	font-size: small;
	color: rgb(96, 95, 93);
	font-weight: 100;

}

.topTag3Score2 {

	margin-top: 16px;
	margin-left: 3px;
	font-size: small;
	color: rgb(96, 95, 93);
	font-weight: 100;
}

.topTag3Number3 {

	margin-top: 12px;
	margin-left: 12px;
	font-weight: 100;

}

.topTags3centre1 {
	margin-top: 16px;
	margin-left: 3px;
	font-size: small;
	color: rgb(96, 95, 93);
	font-weight: 100;

}

.topTag3Score2 {

	margin-top: 16px;
	margin-left: 3px;
	font-size: small;
	color: rgb(96, 95, 93);
	font-weight: 100;
}

/*top post header*/
.mainTopPostHeader {
	align-items: center;
}

.topPostHeader {
	margin-left: 300px;
	font-size: 20px;
	font-weight: 200;
	margin-top: 20px;
}

.topPostView {
	margin-left: 300px;
	font-size: medium;
	font-weight: 100;
}

.topPostQuestion {
	color: blue;
	cursor: pointer;
}

.topPostMiddle {
	margin-left: 280px;
	font-size: x-small;

}

.topPostRight {
	margin-left: 20px;
	font-size: x-small;
}

.topPostMiddle1 {
	border: 1px solid rgb(221, 225, 221);
	padding: 5px;
	background-color: #e6e6e6;
	cursor: pointer;
}

.topPostMiddle2 {
	border: 1px solid rgb(221, 225, 221);
	padding: 5px;
	cursor: pointer;
}

.topPostRight1 {
	border: 1px solid rgb(221, 225, 221);
	padding: 5px;
	background-color: #e6e6e6;
	cursor: pointer;
}

.topPostRight2 {
	border: 1px solid rgb(221, 225, 221);
	padding: 5px;
	cursor: pointer;
}

.topPostList {
	width: 800px;
	border: 1px solid rgb(221, 225, 221);
	margin-left: 300px;
	border-radius: 5px 5px 1px 1px;
	align-items: center;
	padding: 10px;
}

.topPostNumber1 {

	margin-left: 10px;
	border: 1px solid rgb(221, 225, 221);
	font-weight: 400;
	background-color: #5EBA7D;
	font-size: 15px;
	color: white;
	border-color: rgb(182, 187, 189);
}

.topPostText {
	cursor: pointer;
	margin-left: 12px;
	font-size: small;
	color: #3498DB;
	font-weight: 400;
}

.topPostDate1 {

	margin-left: 180px;
	font-size: small;
	color: rgb(96, 95, 93);
	font-weight: 400;
}

/*second set of top post*/
.topPostList2 {
	width: 800px;
	border: 1px solid rgb(221, 225, 221);
	margin-left: 300px;
	padding: 10px;
	align-items: center;
}

.topPost2Number1 {

	border: 1px solid rgb(221, 225, 221);
	margin-left: 10px;
	font-weight: 400;
	background-color: #5EBA7D;
	font-size: 15px;
	color: white;
}


.topPost2Text {
	margin-left: 12px;
	font-size: small;
	color: #3498DB;
	font-weight: 400;
	cursor: pointer;
}

.topPost2Date2 {
	margin-left: 290px;
	font-size: small;
	color: rgb(96, 95, 93);
	font-weight: 400;
}

.topPost2Date3 {
	margin-left: 260px;
	font-size: small;
	color: rgb(96, 95, 93);
	font-weight: 400;
}

.topPost2Date4 {
	margin-left: 280px;
	font-size: small;
	color: rgb(96, 95, 93);
	font-weight: 400;
}

.topPost2Date5 {
	margin-left: 315px;
	font-size: small;
	color: rgb(96, 95, 93);
	font-weight: 400;
}

.topPost2Date6 {
	margin-left: 313px;
	font-size: small;
	color: rgb(96, 95, 93);
	font-weight: 400;
}

.topPost2Date7 {
	margin-left: 323px;
	font-size: small;
	color: rgb(96, 95, 93);
	font-weight: 400;
}

.topPost2Date8 {
	margin-left: 282px;
	font-size: small;
	color: rgb(96, 95, 93);
	font-weight: 400;
}

.topPost2Date9 {
	margin-left: 265px;
	font-size: small;
	color: rgb(96, 95, 93);
	font-weight: 400;
}

.topPost2Number2 {
	margin-left: 10px;
	border: 1px solid rgb(221, 225, 221);
	font-weight: 300;
	font-size: 15px;
	border-color: rgb(182, 187, 189);
	color: rgb(52, 52, 54);
	background-color: rgba(246, 246, 246, 0.993);
}

/*third*/
.topPostList3 {
	width: 800px;
	border: 1px solid rgb(221, 225, 221);
	margin-left: 300px;
	border-radius: 1px 1px 5px 5px;
	padding: 10px;
	align-items: center;
}

.topPost3Number1 {
	margin-left: 10px;
	border: 1px solid rgb(221, 225, 221);
	font-weight: 400;
	background-color: #5EBA7D;
	font-size: 15px;
	color: white;
	border-color: rgb(182, 187, 189);
}

.topPost3Text {
	margin-left: 12px;
	cursor: pointer;
	font-size: small;
	color: #3498DB;
	font-weight: 400;
}

.topPost3Date10 {

	margin-left: 475px;
	font-size: small;
	color: rgb(96, 95, 93);
	font-weight: 400;
}


.topPostNumber2 {
	font-size: 15px;
	border: 1px solid rgb(221, 225, 221);
	margin-left: 10px;
	font-weight: 300;
	border-color: rgb(182, 187, 189);
	color: rgb(52, 52, 54);
	background-color: rgba(246, 246, 246, 0.993);
}

.topPost3Number2 {

	border: 1px solid rgb(221, 225, 221);
	margin-left: 10px;
	font-weight: 300;
	font-size: 15px;
	border-color: rgb(182, 187, 189);
	color: rgb(52, 52, 54);
	background-color: rgba(246, 246, 246, 0.993);
}


/*meta post*/
.topMetaPost {
	font-size: 20px;
	font-weight: 400;
	margin-left: 300px;
	margin-top: 20px;
}

.metaTopPost img {
	margin-top: 20px;
}

.metaTopPost {
	align-items: flex-end;
}

.metaTop {
	margin-left: 590px;
}

.metaLeft {
	margin: 10px;
	margin-top: 19px;
	font-weight: 300;

}

/* network area*/
.network {
	align-items: center;
}

.networkViewAll {
	font-size: 12px;
	font-weight: 100;
	margin-left: 500px;
	margin-top: 20px;
}

/*footrt*/
.footer {
	margin-top: 20px;
	background-color: #24262b;
	padding: 10px;
}

.container {
	margin: auto;
}

ul {
	list-style: none;
}

.row {
	flex-wrap: wrap;
	justify-content: space-between;
}

.footerStack {
	padding: 0 15px;
}

.footerStack h4 {
	cursor: pointer;
	font-size: 15px;
	color: #babfc4;
	margin-bottom: 35px;
	font-weight: 500;
}

.footerStack h4::before {
	content: '';
	box-sizing: border-box;
	width: 50px;
}

.footerStack ul li {
	margin-bottom: 10px;
	color: #9199a1;
	font-size: 13px;
	cursor: pointer;
}

.footerStack ul :hover {
	color: #bbbbbb;

}

.social {
	cursor: pointer;
}

.socialNetwork2 {
	margin-top: 280px;

}

.row h5 {
	color: #babfc4;
	margin-left: 10px;
	font-weight: 300;
}

.row img {
	cursor: pointer;
	width: 25px;
	margin-left: 20px;
}
a {
	color:#5274d6;
}