*{
    margin: 0;
    padding: 0;

}

/* header */
.header_left img{
    object-fit: contain;
    height: 30px;
    margin-left: 60px;
}

.header{
    background-color: rgba(128, 128, 128,0.1);
    display: flex;
    height: 50px;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
    border-top: 3px solid orangered;
}

.header_left{
    display: flex;
    align-items: center;
}

.header_left {
    padding: 5px;
    cursor: pointer;
}
.header_left :hover{
    background-color: rgba(97, 97, 97,0.2);
}

.header_middle{
    margin-left: 1px;
    display: flex;
    flex: 0.94;
    align-items: center;
    height: 25px;
    background-color: white;
    padding: 1px;
    
    border-color:black;

    margin-right: 50px;
}
.header_middle input {
    flex: 1px;
    border:none;

    
    }
    

nav ul li {
    display: flex;
    margin-left: 20px;
    list-style-type: none;
    width: 100px;
    float: left;
    color: gray;
    cursor: pointer;
    align-items: center;
    padding: 1px;
}
nav ul li:hover{
   
    background-color: rgba(117, 115, 115,0.1);
    border-radius:10px ;
    align-items: center;
}


.header_left {
    padding:1px;   
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}
.log button{
    padding: 1px;
    cursor: pointer;
    height: 40px;
width: 80px;
color: blue;
background-color: lightblue;
border-color:blue;
border-radius:5px ;
}
.sign button{
   
    height: 40px;
    width: 80px;
    color: white;
    background-color: blue;
    padding: 1px;
    cursor: pointer;
}
.side_bar{

    overflow: scroll;
    width: 200px;
    height: 600px;
}
.side_bar_option{
    display: flex;
    align-items: center;
    height: 20px;
    padding: 10px;
    margin-top: 0px;
    cursor: pointer;
    margin-left: 40px;
    color: #818181;
}
.side_bar_option1{
    display: flex;
    margin-left: 40px;
    align-items: center;
    height: 10px;
    padding:10px;
    color: #818181;

}

.side_bar_option2{
    display: flex;
    align-items: center;
    height: 10px;
    padding: 1px;;
    margin-left: 70px;
    color: #818181;
    cursor: pointer;
}
.side_bar_option3{
    margin-top: 20px;
    margin-right: 1px;
    margin-bottom: 10px;
    text-transform: capitalize;
    color: black;
    margin-left: 63px;
    padding: 10px;
    background-color: #81818122;
    width: 100px
    display: flex;
    border-right: 5px solid orange;
    align-items: center;

}
.side_bar_option4{
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 10px;
    margin-left: 40px;
    color: #818181;
    cursor: pointer;
}
.side_bar_option4 span{
    margin-left:5px;
    font-size:15px;
}

.side_bar_option5{
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 10px;
    margin-left: 35px;
    color: #818181;
    cursor: pointer;
}

.side_bar_option :hover{
    color: black;
}
.side_bar_option5 :hover{
    color: black;
}


.card{
    width: 130px;
    height: 250px;
    background-color: white;
    border: 1px solid darkgray;
    position: relative;
    margin-top: 0px;
    margin-left:50px;
    font-size: small;
    border-right:transparent ;
    
}
.card-body{
    padding: 1px;
}
.card img{
    object-fit: contain;
    height: 100px;
    margin-left:10px;
    width: 100px;
}
.side_bar_option6{
    align-items: center;
    height: 30px;
    padding: 0 16px;
    margin-top: 0px;
    cursor: pointer;
    color: black;
    display: flex;
    background-color: orangered;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border-radius: 5px ;
    border-top: 2px solid white;
}
/*main body*/
.main_body{
    display: flex;
    height: 70vh;   
}
body{
    height: 100vh;
   
}
.side_bar_option7{
    display: flex;
    align-items: center;
    justify-items: center;
    margin: 10px;
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #818181;
    cursor: pointer;

}
.side_bar_option7:hover{
    color: black;
}
.stack_profile_img{
    position: sticky;
    width: 150px;
    height: 150px;
    margin-top: 20px;
    position: relative;
    display:flex;
    text-align: center;
    background-color: white;
    border-top: 1px solid whitesmoke;
    box-shadow: 0px 0px 5px 2px whitesmoke;
    margin-left:30px ;
    cursor: pointer;
}
.stack_text{
    font-size: 30px;
    margin-top: 40px;
    margin-left: 0px;
    position: relative;
    left: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.stack_text1{
    margin-left:0px;
    color: #818181;
    font-size: 12px;
}
.stack_text1 span{
    font-size: 12px;
    color: #818181;

}
.stack_text2{
    margin-left:0px ;
    margin-top: 15px;
    font-size: 12px;
    color: #818181;
}

.stack_text2 img{
    width: 12px;
    height: 12px;
}
.stack_right{
    
    text-transform: capitalize;
   position: relative;
   left:450px;
   
  
}

.stack_right button{
  
    font-size: 15px;
    height: 25px;
    padding-left: 10px;
    align-items: center;
    width: 100px;
    margin-top: 20px; 
    display:flex;
    border-color:#81818155;
    box-shadow: none;
    flex:0.9px;
    color: #818181;
    background-color: white;
    cursor: pointer;

}
.stack_right span{
    margin-left: 10px;
}
.stack_right button:hover{
    background-color: #81818122;
}
.stack_profile{
    margin-top: 10px;
    margin-left: 40px;
}
.profile{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(252, 92, 34);
    border-color: rgb(252, 82, 0);
    color: white;
    cursor: pointer;
}
.activity{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border: none;
    box-shadow: none;
    background-color: white;
    margin-left: 10px;
    color: #818181;
    cursor: pointer;
}
.profile:hover{
    background-color: rgba(125, 42, 0, 0.6);
}
.activity:hover{
    background-color: #81818122;
    border-radius: 20px;
}